[tool.ruff]
line-length = 120

[tool.ruff.lint]
# Enable flake8-bugbear (`B`) rules.
select = [
    "AIR",   # Airflow
#    "ERA",   # eradicate
    "FAST",  # FastAPI
    "YTT",   # flake8-2020
#    "ANN",   # flake8-annotations
    "ASYNC", # flake8-async
    "S",     # flake8-bandit
    "BLE",   # flake8-blind-except
    "FBT",   # flake8-boolean-trap
    "B",     # flake8-bugbear
    "A",     # flake8-builtins
    "COM",   # flake8-commas
    "C4",    # flake8-comprehensions
#    "CPY",   # flake8-copyright
    "DTZ",   # flake8-datetimez
    "T10",   # flake8-debugger
    "DJ",    # flake8-django
    "EM",    # flake8-errmsg
    "EXE",   # flake8-executable
    "FIX",   # flake8-"f-i-x me"
    "FA",    # flake8-future-annotations
    "INT",   # flake8-gettext
    "ISC",   # flake8-implicit-str-concat
    "ICN",   # flake8-import-conventions
    "LOG",   # flake8-logging
    "G",     # flake8-logging-format
    "INP",   # flake8-no-pep420
    "PIE",   # flake8-pie
    "T20",   # flake8-print
    "PYI",   # flake8-pyi
    "PT",    # flake8-pytest-style
    "Q",     # flake8-quotes
    "RSE",   # flake8-raise
    "RET",   # flake8-return
    "SLF",   # flake8-self
    "SIM",   # flake8-simplify
    "SLOT",  # flake8-slots
    "TID",   # flake8-tidy-imports
    "TD",    # flake8-todos
    "TC",    # flake8-type-checking
    "ARG",   # flake8-unused-arguments
    "PTH",   # flake8-use-pathlib
    "FLY",   # flynt
    "I",     # isort
    "C90",   # mccabe
    "PD",    # pandas-vet
    "N",     # pep8-naming
    "PERF",  # Perflint
    "E",     # pycodestyle Error
    "W",     # pycodestyle Warning
#    "DOC",   # pydoclint
#    "D",     # pydocstyle
    "F",     # Pyflakes
    "PGH",   # pygrep-hooks
    "PL",    # Pylint
    "UP",    # pyupgrade
    "FURB",  # refurb
    "TRY",   # tryceratops
    "RUF",   # Ruff-specific rules
]
ignore = [
    "B905",  # `zip()` without an explicit `strict=` parameter
    "PT009",  # Use a regular `assert` instead of unittest-style `{assertion}`
    "S308",  # Use of `mark_safe` may expose cross-site scripting vulnerabilities
    "PLR2004",  # magic-value-comparison
    "N813", # Camelcase `BeautifulSoup` imported as lowercase `bs`
    "PLR0912", # Too many branches
    "PLR0915", # Too many statements
    "RUF012", # Mutable class attributes should be annotated with `typing.ClassVar`
    "DJ001", # Avoid using `null=True` on string-based fields such as `CharField`
]

# Ignore `E501` (line length) in all `__init__.py`  and migration files
[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E501"]
"**/migrations/*.py" = ["E501"]

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "cam_archive.settings"
# -- recommended but optional:
python_files = "tests.py"

[tool.coverage.run]
branch = true
source = ["."]
omit = [
    "./manage.py",
    "**/*migrations*/*",
    "cam_archive/wsgi.py",
    "cam_archive/asgi.py",
    "cam_archive/settings.py",
]
