Django==5.1.7
django-axes==7.0.2
django-bootstrap-icons==0.9.0
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap5==25.1
django-bootstrap5-dark-mode-switch==0.2.2
django-filter==25.1
# django-two-factor-auth depends on
django-phonenumber-field < 7.0.0
django-select2==8.3.0
django-two-factor-auth==1.17.0
phonenumbers==9.0.0
psycopg2-binary==2.9.10
watchfiles==1.0.4
