{% extends "base.html" %}
{% load static i18n django_bootstrap5 bootstrap_icons %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('filter').addEventListener('click', function() {
        // Bootstrap-Modal manuell anzeigen
        var modal = new bootstrap.Modal(document.getElementById('filterModal'));
        modal.show();
    });
});

document.addEventListener('DOMContentLoaded',function() {
    document.querySelector('select[name="day"]').onchange=changeEventHandler;
},false);

function changeEventHandler(event) {
    window.location.href = this.options[this.selectedIndex].value;
}
</script>
{% endblock %}

{% block page_title %}{{ query_date }}{% endblock %}

{% block content %}
<div class="modal fade mt-5" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'Filter' %}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" method="get" id="filterForm">
                    {% csrf_token %}
                    {% bootstrap_form filter.form %}
                    <button class="btn btn-sm btn-primary" type="submit">
                        {% bs_icon 'funnel' %}
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="row filter mb-3">
    <div class="col">
        <h6 class="filter-label">
            {% trans 'Filter' %}
        </h6>
        <button class="btn btn-sm btn-primary" id="filter" title="{% trans 'Filter' %}">
            {% bs_icon 'funnel' %}
        </button>
        <a href="{% url 'video:list' %}" class="btn btn-sm btn-secondary" title="{% trans 'Remove filter' %}">
            {% bs_icon 'x-lg' %}
        </a>
        {% for field in filter.form %}
            {% if field.value %}
                <span class="badge bg-secondary">
                {{ field.label }}: {{ field.value }}
{#                {% name_from_id field.label field.value %}#}
                </span>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
{% for video in video_list %}
    <div class="col text-center">
        <div class="card">
            <a href="{{ video.get_absolute_url }}">
                {% if video.thumbnail %}
                    <img class="card-img-top" src="{{ video.thumbnail.url }}" alt="">
                {% else %}
                    <img class="card-img-top" src="{% static 'img/video-movie.svg' %}" alt="">
                {% endif %}
            </a>
            <div class="card-body">
                <p class="card-text">
                    {{ video.timestamp|date:"H:i:s" }} {{ video.camera }}
                    {% if video.telegram %}
                        {% bs_icon 'bell-fill' color='#5D8FC2' %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% empty %}
    <p>{% trans 'No videos for this date.' %}</p>
{% endfor %}
</div>

<div class="row mt-3">
    <div class="col">
        {% if prev_date %}
        <a href="{% url 'video:list' prev_date %}" class="btn btn-sm btn-secondary">
            {% bs_icon 'caret-left-fill' %}
            {{ prev_date }}
        </a>
        {% endif %}
    </div>
    <div class="col text-center">
        <div class="mb-3">
            <select name="day" class="form-select" required="" id="id_day">
                {% for day in days %}
                    <option value="{% url 'video:list' day %}" {% if day == query_date %}selected{% endif %}>
                        {{ day }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col text-end">
        {% if next_date %}
        <a href="{% url 'video:list' next_date %}" class="btn btn-sm btn-secondary">
            {{ next_date }}
            {% bs_icon 'caret-right-fill' %}
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
