{% extends "base.html" %}
{% load static i18n django_bootstrap5 bootstrap_icons %}

{% block page_title %}{{ video.timestamp }}{% endblock %}

{% block content %}
<video style="display: block; margin: 0 auto;" width="100%" height="auto" labe="{{ video.name }}"
       {% if video.thumbnail %}poster="{{ video.thumbnail.url }}"{% endif %}
       preload="" controls src="{{ video.file.url }}" type="video/mp4">
</video>

<div class="row mt-1">
    <div class="col-md-4 col-sm-12 text-md-start text-center">
        <h6>{% trans 'duration' %}: {{ video.duration }} sec.</h6>
    </div>
    <div class="col-md-4 col-sm-12 text-center">
        <h6>
            {% trans 'camera' %}: {{ video.camera }}
            {% if video.camera.manufacturer and video.camera.model %}
            (
                {{ video.camera.manufacturer }}
                {{ video.camera.model }}
            )
            {% endif %}
        </h6>
    </div>
    <div class="col-md-4 col-sm-12 text-md-end text-sm-center text-center">
        <h6>{{ video.name }}</h6>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        {% with video.get_previous_by_timestamp as previous %}
        {% if previous %}
        <a href="{{ previous.get_absolute_url }}" class="btn btn-sm btn-secondary">
            {% bs_icon 'caret-left-fill' %}
            {{ previous.timestamp }}
        </a>
        {% endif %}
        {% endwith %}
    </div>
    <div class="col text-end">
        {% with video.get_next_by_timestamp as next %}
        {% if next %}
        <a href="{{ next.get_absolute_url }}" class="btn btn-sm btn-secondary">
            {{ next.timestamp }}
            {% bs_icon 'caret-right-fill' %}
        </a>
        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}
