{% extends "base.html" %}
{% load static i18n django_bootstrap5 bootstrap_icons %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script src="{% static 'js/bootstrap5.modal.forms.js' %}"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', (e) => {
    modalForm(document.getElementById('id_delete'), {
        formURL: "{% url 'video:delete' video.id %}",
        modalID: "#modal",
        isDeleteForm: true
    })
});
</script>
{% endblock %}

{% block page_title %}{{ video.timestamp }}{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<video style="display: block; margin: 0 auto;" width="100%" height="auto" labe="{{ video.name }}"
       {% if video.thumbnail %}poster="{{ video.thumbnail.url }}"{% endif %}
       preload="" controls src="{{ video.file.url }}" type="video/mp4">
</video>

<div class="row mt-1">
    <div class="col-md-4 col-sm-12 text-md-start text-center">
        <h6>{% trans 'duration' %}: {{ video.duration }} sec.</h6>
    </div>
    <div class="col-md-4 col-sm-12 text-center">
        <h6>
            {% trans 'camera' %}: {{ video.camera }}
            {% if video.camera.manufacturer and video.camera.model %}
            (
                {{ video.camera.manufacturer }}
                {{ video.camera.model }}
            )
            {% endif %}
        </h6>
    </div>
    <div class="col-md-4 col-sm-12 text-md-end text-sm-center text-center">
        <h6>{{ video.name }}</h6>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        {% with video.get_previous_by_timestamp as previous %}
        {% if previous %}
        <a href="{{ previous.get_absolute_url }}" class="btn btn-sm btn-secondary">
            {% bs_icon 'caret-left-fill' %}
            {{ previous.timestamp }}
        </a>
        {% endif %}
        {% endwith %}
    </div>
    <div class="col text-end">
        {% with video.get_next_by_timestamp as next %}
        {% if next %}
        <a href="{{ next.get_absolute_url }}" class="btn btn-sm btn-secondary">
            {{ next.timestamp }}
            {% bs_icon 'caret-right-fill' %}
        </a>
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="row mt-2">
    <div class="col text-end">
        <button id="id_delete" type="button" class="btn btn-sm btn-danger"
                data-url="{% url 'video:delete' video.id %}">
            {% bs_icon 'trash' %}
        </button>
    </div>
</div>
{% endblock %}
