{% extends "base.html" %}
{% load static i18n django_bootstrap5 bootstrap_icons %}

{% block page_title %}{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-12 col-md-6">
        <form action="" method="get" id="filterForm" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form filter.form size='sm' %}
            <button class="btn btn-sm btn-primary" type="submit">
                {% bs_icon 'funnel' %}
            </button>
        </form>
    </div>
</div>

{% regroup video_list by timestamp|date:"F Y" as objects_by_month %}
{% for month_group in objects_by_month %}
    <div class="row mt-3">
        <div class="col">
            <h2>{{ month_group.grouper }}</h2>
        </div>
    </div>
    {% regroup month_group.list by timestamp|date:"l, d. F" as objects_by_day %}
    <div class="accordion" id="accordion-{{ month_group.grouper|slugify }}">
    {% for day_group in objects_by_day %}
        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button {% if not forloop.parentloop.first or not forloop.first %}collapsed{% endif %}"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ day_group.grouper|slugify }}"
                        aria-expanded="true" aria-controls="collapse-{{ day_group.grouper|slugify }}">
                    {{ day_group.grouper }}&nbsp;
                    <span class="badge rounded-pill text-bg-secondary">{{ day_group.list|length }}</span>
                </button>
            </h3>
            <div id="collapse-{{ day_group.grouper|slugify }}"
                 class="accordion-collapse collapse{% if forloop.parentloop.first and forloop.first %} show{% endif %}"
                 data-bs-parent="#accordion-{{ month_group.grouper|slugify }}">
                <div class="accordion-body">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
                    {% for video in day_group.list %}
                        <div class="col text-center">
                            <div class="card">
                                <a href="{{ video.get_absolute_url }}">
                                    {% if video.thumbnail %}
                                        <img class="card-img-top" src="{{ video.thumbnail.url }}" alt="">
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'img/video-movie.svg' %}" alt="">
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ video.timestamp|date:"H:i:s" }} {{ video.camera }}
                                        {% if video.telegram %}
                                            {% bs_icon 'telegram' color='#5D8FC2' %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endfor %}
{% endblock %}
