{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block side_navigation %}{% endblock %}

{% block title %}{% trans 'Logged out' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 transparent-frame">
        <div class="panel-white">
            <p class="text-center">
                {% trans "You are now logged out, thanks for using this app." %}
            </p>
            <p class="text-center">
                <a href="{% url 'frontend_auth:login' %}" class="btn btn-primary" role="button">
                    <span class="far fa-sign-in"></span>
                    {% trans 'Login' %}
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
