{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block side_navigation %}{% endblock %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 transparent-frame">
        <div class="panel-white">

            <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

            <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

        </div>
    </div>
</div>
{% endblock %}
