.errornote {
    font-size: 0.875rem;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: white;
    border: 1px solid red;
    border-radius: 4px;
    background-color: lightcoral;
    background-position: 5px 12px;
    overflow-wrap: break-word;
}